@import url(https://fonts.googleapis.com/css?family=Akronim);

body {
    background: #111; 
    color: #fff;
}

.fire {
  margin: auto;
  max-width: 500px;
  height: 120px;
  background-position: center center;
  border-radius: 10px;
  font-family: 'Akronim';
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fire:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
    display: inline-block;
    margin: 0;
    color: #000;
    font-size: 100px;
    line-height: 50px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;
    text-shadow:
          0 3px 20px #333,
          0 0 20px #666,
      0 0 10px #999,
      4px -5px 6px #ccc,
      -4px -10px 10px #fff,
      0 -10px 30px #fff;
    animation: 2s Blazing infinite alternate linear;
  }
  
  @keyframes Blazing {
    0%   { text-shadow: 0 3px 20px #333, 0 0 20px #666,
      0 0 10px #999,
      0 0 0 #ccc,
      0 0 5px #fff,
      -2px -5px 5px #fff,
      4px -10px 10px #fff; }
    25%   { text-shadow: 0 3px 20px #333, 0 0 30px #666,
      0 0 20px #999,
      0 0 5px #fff,
      -2px -5px 5px #fff,
      3px -10px 10px #fff,
      -4px -15px 20px #fff; }
    50%   { text-shadow: 0 3px 20px #333, 0 0 20px #666,
      0 -5px 10px #999,
      -2px -5px 5px #fff,
      3px -10px 10px #fff,
      -4px -15px 20px #fff,
      2px -20px 30px rgba(255,255,255,0.5); }
    75%   { text-shadow: 0 3px 20px #333, 0 0 20px #666,
      0 -5px 10px #999,
      3px -5px 5px #fff,
      -4px -10px 10px #fff,
      2px -20px 30px rgba(255,255,255,0.5),
      0px -25px 40px rgba(255,255,255,0);}
    100%   { text-shadow: 0 3px 20px #333, 0 0 20px #666,
      0 0 10px #999,
      0 0 0 #ccc,
      0 0 5px #fff,
      -2px -5px 5px #fff,
      4px -10px 10px #fff; }
  }